.status {
    color: rgb(156, 155, 155);
}
.kanan {
    text-align: right;
}
.card_list {
    margin: 15px;
}

.head-logo {
    margin-left: 10px;
  }
  .cs {
    background: rgb(224, 79, 79);
  }
  
  .title {
    font-size: .9em;
  }
  .nama_marchant {
    background-color: rgb(247, 247, 247);
    margin: 0;
    color: #000;
}
hr {
  height: 1px;
  background-color: rgb(235, 233, 233);
  margin: 0;
  line-height: 0;
}
.kode_voucher {
  color: #000;
  font-weight: 500;
}
.detail {
  float: right;
  font-size: 11px;
  text-transform: capitalize;
}
.container_kosong {
  text-align: center;
  margin: 20px;
  color: rgb(161, 15, 15);
}