.status {
    color: rgb(156, 155, 155);
}
.kanan {
    text-align: right;
}
.card_list {
    margin: 15px;
}

.head-logo {
    margin-left: 10px;
  }
  .cs {
    background: rgb(224, 79, 79);
  }
  
  .title {
    font-size: .9em;
  }
  .nama_marchant {
    background-color: rgb(247, 247, 247);
    margin: 0;
    color: #000;
}
hr {
  height: 1px;
  background-color: rgb(235, 233, 233);
  margin: 0;
  line-height: 0;
}
.kode_voucher {
  color: #000;
  font-weight: 500;
}
.detail {
  float: right;
  font-size: 11px;
  text-transform: capitalize;
}
.container_kosong {
  text-align: center;
  margin: 20px;
  color: rgb(161, 15, 15);
}
.segment {
  // padding: 15px;
  // background-color: rgb(138, 26, 26);
  border-bottom: 1px solid #8a8a8a;
}
.segment:active {
  --border-bottom: none;
  --color: #f2f2f2;
}
.segment_btn {
  --color-checked:  rgb(224, 79, 79);
  // --background-checked: rgb(224, 79, 79);
  color: #3d3d3d;
}
.segment_btn::after {
  color: #f2f2f2;
  border-bottom: none;
}