<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <img src="../../assets/ic_launcher.png" alt="" width="50" height="50" class="head-logo">
    <ion-title slot="end" class="title">
      Gaspol | Yang lain lewat!
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="container">
  <img src="../../assets/ic_logo_gaspol.png" alt="" srcset="" class="gambar">
  <p class="home_title">Halo {{full_name}} <b></b>, langsung ke menu ORDER ya..</p>

</ion-content>
