.btnCard {
    background-color: rgb(146, 13, 13);
    color: #f2f2f2;;
    text-align: center;
    padding: 10px;
    margin: 4px;
}
.head-logo {
    margin-left: 10px;
  }
  
  
  .cs {
    background: rgb(224, 79, 79);
  }
  
  .title {
    font-size: .9em;
  }
  .home_title {
    text-align: center;
    font-size: 14px;
    font-style: Poppins;
    color: rgb(146, 13, 13);
  }
  .gambar {
    text-align: center;
  }
  .container {
    text-align: center;
  }